@import "../../variables.scss";
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.detailsCard {
  display: block;
  width: 300px;
  font-size: large;
  border-radius: 20px;
  background-color: $backgroudCard;
  padding-bottom: 10px;
}
.detailsCard__image {
  width: 100%;
  height: 80%;
  padding: 5% 3%;
  position: relative;

  & .detailsCard__image-faded {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 20px;
    left: 13px;
    filter: blur(15px);
  }
  & .detailsCard__image-main {
    width: 100%;
    border-radius: 10px;
    position: relative;
  }
}
.detailsCard__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card--statusIndicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 3px;
    margin-bottom: 2px;
  }
  & p,
  small,
  h2 {
    text-align: center;
    color: white;
  }
  .detailsCard-lastLocation {
    color: #afafaf;
  }
}

.cardContainer {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
