.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;

  &__image {
    height: 100%;
    width: 100%;
    max-width: 539px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
