main {
  display: flex;
  justify-content: center;
  align-content: center;
}
.listCharacters {
  padding: 0px;
}
.characters {
  list-style: none;
  margin: 10px;
}
.Search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1% 0;
  &__input {
    width: 77%;
    height: 20px;
    padding: 1% 1%;
    border-radius: 5px;
    border: 1px solid green;
  }
}

@media screen and (min-width: 1200px) {
  .listCharacters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1639px) {
  .listCharacters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
